<script src="http://chatio.herokuapp.com/socket.io/socket.io.js"></script>
<script language="javascript"type="text/javascript">
    var socket = io('ws://127.0.0.1:3000', { transports: ['websocket'] })
    socket.on('connect', function() {
      console.log('connected')

      //222用户连接socket
      socket.emit('new user', '222');

      //接收来自其他向自己的消息
      socket.on('to222', function(data) {
        console.log(data)
      })

    })

    function sendMessage() {
      socket.emit('chat', {
        from: '222',
        to: '111',
        message: 'hello world 11'
      });
    }
</script>
<h2>WebSocket Test</h2>
<button onclick="sendMessage()">发送</button>
<div id="output"></div>
